@model IEnumerable<RapChieuPhim.Models.Phimm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Chào Mừng Bạn đến Với HỆ THÔNG</h4>
                    <span class="ml-1">PHIM</span>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">QUẢN LÝ PHIM ẢNH</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-primary" href="/Admin/Phims/Create">Thêm Phim </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dataTables-phim" class="display" style="width: 1360px;color:black;">
                                <thead>
                                    <tr>
                                        <th>Mã Phim</th>
                                        <th>Tên Phim</th>
                                        <th>Ảnh</th>
                                        <th>Mô tả</th>
                                        <th>Loại Phim</th>
                                        <th>Thời Lượng</th>
                                        <th>Ngày Công Chiếu</th>
                                        <th>Ngày kết Thúc</th>
                                        <th>Đạo Diễn</th>
                                        <th>Trạng Thái</th>
                                        <th>Sửa</th>
                                        <th>Xóa</th>

                                    </tr>
                                </thead>
                                <tbody style="color: #343957;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



