
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-single-2">
    <div class="container">
        <div class="row">
            <div class="middle-content">
                <a href="index-2.html"><img class="md-logo" src="images/logo1.png" alt=""></a>
                <img src="~/Content/Client/images/uploads/err-img.png" alt="">
                <h1>Bạn Phải đăng Nhập trước khi truy cập trang này</h1>
                <a href="/Home" class="redbtn">go home</a>
            </div>
        </div>
    </div>
</div>

